<header>
  <div class="outer-container bg-dark-green">
    <div class="inner-container">
      <div class="left-container">
        <a class="logo" href="/">mapp</a>
        <i class="fas fa-map-marked-alt"></i>
        <% if(userId) { %>
          <div class="profile">
            <form action="/users/<%= userId %>" method="GET" class="form-inline">
              <button class="bttn-unite bttn-md bttn-default">Your Profile</button>
            </form>
          </div>
          <div class="map">
            <form action="/maps/new" method="GET" class="form-inline">
              <button class="bttn-unite bttn-md bttn-default">Create Map</button>
            </form>
          </div>
        <% } %>
      </div>
      <div class="right-container">
        <% if(!userId) { %>
          <div class="button">
            <form action="/login" method="GET" class="form-inline">
              <button class="bttn-unite bttn-md bttn-warning">Login</button>
            </form>
          </div>
          <div class="button">
            <form action="/register" method="GET" class="form-inline">
              <button class="bttn-unite bttn-md bttn-warning">Register</button>
            </form>
          </div>
        <% } else { %>
          <div class="user"><span class="darkgrey">Welcome back <strong><%= username %></strong></span></div>
          <div class="button">
            <form action="/logout" method="POST" class="form-inline">
              <button class="bttn-unite bttn-md bttn-warning">Logout</button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</header>
