<header>
  <div class="outer-container bg-dark-green">
    <div class="inner-container">
      <div class="left-container">
        <a class="logo" href="/">mApp</a>
        <i class="fas fa-map-marked-alt"></i>
      </div>
      <% if(!userId) { %>
        <div class="center-container-not-logged">
      <% } else { %>
        <div class="center-container-logged">
      <% } %>
           <div class="all-maps">
            <form action="/maps/" method="GET" class="form-inline<% if(active === 'maps') { %> active<%}%>">
              <button class="button-default">ALL MAPS</button>
            </form>
          </div>
          <% if(userId) { %>
          <div class="map">
            <form action="/maps/new" method="GET" class="form-inline<% if(active === 'new-map') { %> active<%}%>">
              <button class="button-new"><strong>+ CREATE A NEW MAP</strong></button>
            </form>
          </div>
          <% } %>
        </div>
      <% if(!userId) { %>
        <div class="right-container-not-logged">
          <div class="button-box-s">
            <form action="/login" method="GET" class="form-inline<% if(active === 'login') { %> active<%}%>">
              <button class="button-default">LOGIN</button>
            </form>
          </div>
          <div class="button-box-s">
            <form action="/register" method="GET" class="form-inline<% if(active === 'register') { %> active<%}%>">
              <button class="button-default">REGISTER</button>
            </form>
          </div>
        </div>
        <% } else { %>
          <div class="right-container-logged">
            <div class="user"><span class="darkgrey">Welcome <strong><%= username %></strong></span></div>
            <div class="button-box-xs">
              <button class="profile-button">
                <%= username[0].toUpperCase() %>
              </div>
            <div class="button-box-l">
              <form action="/users/<%= userId %>" method="GET" class="form-inline<% if(active === 'your-map') { %> active<%}%>">
                <button class="button-default">YOUR MAPS</button>
              </form>
            </div>
            <div class="button-box-s">
              <form action="/logout" method="POST" class="form-inline">
                <button class="button-default">LOGOUT</button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</header>
