@import 'helper';

#map {
  height: 71.5vh;
  width: 100%;
  border: 1px solid green;
}
.title-desc-container {
  display: flex;
  flex-direction: column;
  // margin-left: 100%;
  // position: relative;
  // z-index: 1;
}
.map-container {
  // flex-grow: 2;
  border-top: 2px solid $darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  // background-color: #C3ECB2;
}

h1 {
  align-self: center;
  font-family: $font-stack;
}
.map-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.map-form {
  // background-color: #AADAFF;
  display: flex;
  font-family: $font-stack;
  flex-direction: column;
  float: left;
  overflow-y: auto;
  height: 84.25vh;
  width: 30%;
  left: 0px;
  flex-grow: 1;
  // border: 2px solid rgb(99, 99, 141);
  // position: absolute;
}
.group-card {
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;
  border: $darkgrey solid;

}
.icon-label{
  height: 25px;
  width: 25px;
  float: right;
  margin-top: 25px;
  border: solid 1px black;
  margin-right: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  padding-top: 1%;
  background-color: rgb(245, 92, 92);
}
.map-form button {
  width: 100px;
  font-family: $font-stack;
  align-self: center;
  cursor:pointer;
  border: solid 1px $blue;
  border-radius: 11px;
}

.map-form input {
  margin: 10px;
  border: none;
  border-bottom: 3px solid black;
  background-color: $grey;
  font-family: $font-stack;

}
.input-heads {
  display: flex;
  flex-direction: column;
  // width: 100%;
}
.page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
  // justify-content: space-between;
}
i {
  height: 16px;
}

.mark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.err-msg {
  color: red;
  font-weight: bold;
}

.fav-icon-like {
  color: $red;
}
.fav-icon-not {
  color: $darkgrey;
}
.fav-icon:hover {
  cursor: pointer;
}
.blend-form {
  background-color: #AADAFF;
  border: none;
}