@import 'helper';

#map {
  height: 71.5vh;
  width: 100%;
  border: 1px solid green;
}
.title-desc-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

h1 {
  align-self: flex-start;
  color: $blue;
  font-family: $font-stack;
}
.map-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.map-form {
  font-family: $font-stack;
  margin-top: 142px;
  @include flexbox(column, flex-start, flex-end);
  overflow-y: auto;
  height: 72vh;
  width: calc(40% / 2);
  left: 0px;
  // position: absolute;
}

.group-card {
  width: calc(100% - 30px);
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid $darkgrey;
  padding-bottom: 8px;

}
.icon-label{
  height: 25px;
  width: 25px;
  float: left;
  margin-top: 5px;
  border: solid 1px black;
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  padding-top: 1%;
  background-color: rgb(245, 92, 92);
}

.button-create {
  width: 100px;
  font-family: $font-stack;
  align-self: flex-start;
  cursor: pointer;
  margin-top: 15px;
  border: solid 1px $blue;
  border-radius: 11px;
}

.map-form input {
  width: calc(100% - 20px);
  margin: 5px 10px 5px 10px;
  border: none;
  border-bottom: 1px solid $blue;
  background-color: $grey;
  font-family: $font-stack;

}
.input-heads {
  display: flex;
  flex-direction: column;
  // width: 100%;
}
.page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
  width: 100%;
  // justify-content: space-between;
}

i {
  height: 16px;
}

.mark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err-msg {
  color: red;
  font-weight: bold;
}

.fav-icon-like {
  color: $red;
}
.fav-icon-not {
  color: $darkgrey;
}
.fav-icon:hover {
  cursor: pointer;
}
.blend-form {
  border-bottom: 1px solid $darkgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
  outline: none;
}

.blend-form:focus {
  color: $blue;
  border-bottom: 1px solid $blue;
}
