@import 'helper';
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: $grey;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  @include flexbox(column, flex-start, center);
}
main {
  width: 100%;
  margin-top: 65px;
  height: 100%;
  @include flexbox(column, flex-start, center);
  h1 {
    color: #244751;
  }
}

@media (max-width: 1024px) and (min-width: 361px) {
  main {
    margin-top: calc(3 * 50px);
  }
}
