@import 'helper';

.all-maps-container {
  @include flexbox(column, flex-start, center);
  width: 100%;
  height: 100%;
}

.section-container {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 10px;
}

h2 {
  color: $darkgrey;
  padding-top: 10px;
}

a {
  @include flexbox(column, flex-start, center);
  height: 220px;
  width: 250px;
  color: $blue;
  margin-left: calc((100% - 250px) / 2);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $blue;
}

.map-card {
  @include flexbox(column, flex-start, center);
  height: 340px;
  width: 275px;
  margin: 15px calc(((100% - 275px * 3) / 6) - 1px);
  background-color: $white;
  border: 1px solid $darkgrey;
  display: block;
  border-radius: 15px;
  padding-top: 10px;
  color: #4b4b4b;
  box-sizing: content-box;
  -webkit-box-shadow:7px 7px 5px #d6d6d6;
  -moz-box-shadow:7px 7px 5px #d6d6d6;
  box-shadow:7px 7px 5px #d6d6d6;
}

.map-card:hover {
  -webkit-box-shadow:7px 7px 4px #b9b9b9;
  -moz-box-shadow:7px 7px 4px #b9b9b9;
  box-shadow:7px 7px 4px #b9b9b9;
  border: 2px solid $blue;
  margin: 14px calc((100% - 275px * 3) / 6 - 2px);
}

.heart-div {
  align-self: flex-end;
  justify-self: right;
  color: $darkgrey;
}

.fav-icon-not {
  color: $darkgrey;
}

.fav-icon:hover {
  cursor: pointer;
}

.fav-icon-like {
  color: $red;
}

.fa-heart {
  font-size: 20px;
}

.fa-heart:hover {
  color: $red;
}

.map-container {
  @include flexbox(column, center, center);
  height: 250px;
  width: 250px;
}

img {
  border: 0px solid $grey;
  border-radius: 15px;
}

.description-container {
  @include flexbox(column, flex-start, flex-start);
  width: 90%;
  margin-left: 15px;
  font-size: 14px;
}

.title {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.sub-nav-container {
  width: 100%;
  height: 60px;
  background-color: $white;
  border-bottom: 1px solid #ececec;
  -webkit-box-shadow:0px 1px 2px #ececec;
  -moz-box-shadow:0px 1px 2px #ececec;
  box-shadow:0px 1px 2px #ececec;
  @include flexbox(row, center, center)
}

.sub-nav {
  color: $red;
  @include flexbox(row, space-between, center);
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  visibility: visible;
}

#search {
  font-size: 18px;
  width: 275px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  margin-right: 1px;
  border: 1px solid #b9b9b9;
  -webkit-box-shadow:0px 1px 2px #b9b9b9;
  -moz-box-shadow:0px 1px 2px #b9b9b9;
  box-shadow:0px 1px 2px #b9b9b9;
}

#search::placeholder {
  font-size: 16px;
}

#search:focus {
  border: 1px solid $blue;
  -webkit-box-shadow:2px 2px 4px $blue;
  -moz-box-shadow:2px 2px 4px $blue;
  box-shadow:2px 2px 4px $blue;
}

.description {
  width: 100%;
  height: 30px;
  word-wrap: break-word;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  border-bottom: 1px solid #d3d3d3;
}

.created-owner-data {
  @include flexbox(column, center, flex-start);
  width: 60%;
}

.created-data {
  text-overflow:ellipsis;
}

.created-container {
  font-size: 13px;
  height: 50px;
  @include flexbox(row, space-between, center);
  width: 100%;
}

.favourited-container {
  @include flexbox(row, flex-end, center);
  width: 40%;
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .map-card {
    margin: 15px calc(((100% - 275px * 2) / 4) - 2px);
  }

  .map-card:hover {
    margin: 14px calc((100% - 275px * 2) / 4 - 3px);
  }
  .section-container {
    width: 750px;
  }
}

@media only screen and (max-width: 750px) {
  .map-card {
    margin: 15px calc(((100% - 275px * 1) / 2) - 1px);
  }

  .map-card:hover {
    margin: 14px calc((100% - 275px * 1) / 2 - 2px);
  }
  .section-container {
    width: 400px;
  }

}
