@import 'helper';

.all-maps-container {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
}

.map-card {
  @include flexbox(column, flex-start, flex-start);
  height: 400px;
  width: calc(100% / 3);
  padding: calc(100px / 8);
}

.map-container {
  @include flexbox(column, flex-start, center);
  height: 300px;
  width: 100%;
}

.description-container {
  @include flexbox(column, flex-start, flex-start);
  margin-left: 20px;
}

.title {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.description {
  font-size: 16px;
}
