@import 'helper';

*:focus {
  outline: none !important;
}

.outer-container {
  @include flexbox(row, space-around, center);
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: $white;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-size: 16px;
  border-bottom: 1px solid #d3d3d3;
  -webkit-box-shadow:0px 1px 5px #d3d3d3;
  -moz-box-shadow:0px 1px 5px #d3d3d3;
  box-shadow:0px 1px 5px #d3d3d3;
}

.inner-container {
  @include flexbox(row, space-between, center);
  width: 100%;
  height: 100%;
}

.left-container {
  @include flexbox(row, flex-start, center);
  width: 350px;
  height: 100%;
}

.center-container-logged {
  @include flexbox(row, space-between, center);
  height: 100%;
}

.center-container-not-logged {
  @include flexbox(row, space-between, center);
  height: 100%;
}

.right-container-logged {
  @include flexbox(row, flex-end, center);
  margin-right: 20px;
  width: 350px;
  height: 100%;
}

.right-container-not-logged {
  @include flexbox(row, flex-end, center);
  margin-right: 20px;
  width: 350px;
  height: 100%;
}

.button-box-s {
  @include flexbox(row, center, center);
  width: 80px;
  margin-left: 5px;
  height: 100%;
}

.button-box-xs {
  @include flexbox(row, center, center);
  width: 50px;
  height: 100%;
}

.button-box-l {
  @include flexbox(row, center, center);
  width: 110px;
  margin-left: 5px;
  height: 100%;
}

.profile-button {
  @include flexbox(row, center, center);
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: $red;
  font-size: 20px;
  font-weight: bold;
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}

.profile-button:hover {
  -webkit-box-shadow:0px 1px 5px $red;
  -moz-box-shadow:0px 1px 5px $red;
  box-shadow:0px 1px 5px $red;
}

.profile-modal {
  position: fixed; /* Stay in place */
  z-index: 98; /* Sit on top */
  margin-top: 60px; /* Location of the box */
  right: 20px;
  top: 0;
  width: 190px; /* Full width */
  height: 170px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  @include flexbox(column, center, center);
  background-color: #fefefe;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow:0px 0px 2px 1px #d3d3d3;
  -moz-box-shadow:0px 0px 2px 1px #d3d3d3;
  box-shadow:0px 0px 2px 1px #d3d3d3;
  width: 100%;
  border-radius: 3px;
}

.modal-close-container {
  @include flexbox(row, flex-end, center);
  padding-right: 20px;
  width: 100%;
  height: 40px;
}

.modal-button {
  @include flexbox(row, flex-start, center);
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding-left: 20px;
  border-top: 1px solid #e6e6e6 !important;
  border: 0;
  background-color: $white;
  cursor: pointer;
  color: $darkgrey;
}

.modal-button:hover {
  background-color: #e6e6e6;
}

.modal-button:hover .modal-button {
  background-color: #e6e6e6;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.user {
  @include flexbox(row, center, center);
  margin-right: 12px;
  height: 100%;
}

.darkgrey {
  color: #4b4b4b;
}

.all-maps {
  @include flexbox(row, center, center);
  height: 100%;
  width: 100px;
}

.map {
  @include flexbox(row, center, center);
  height: 100%;
  width: 200px;
  margin-left: 10px;
}

.logo {
  @include flexbox(row, center, center);
  text-decoration: none;
  font-family: $logo-font;
  font-size: 32px;
  width: 100px;
  color: $red;
  margin-left: 30px;
}

.logo:hover {
  text-decoration: none;
  color: $red;
}

.fa-map-marked-alt {
  padding-left: 10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: $blue;
}

.bg-grey {
  background-color: $grey;
}

.form-inline {
  @include flexbox(column, center, center);
  height: 100%;
  width: 100%;
}

.button-default:hover {
  border-bottom: 2px solid $darkgrey;
}

.active > .button-default {
  border-bottom: 2px solid $red;
  color: $red;
}

.map > .active {
  border-bottom: 2px solid $red;
}

.button-default {
  border: 0;
  background-color: $white;
  cursor: pointer;
  color: $darkgrey;
  height: 100%;
  border-bottom: 2px solid transparent;
}

.button-new {
  border: 0;
  cursor: pointer;
  background-color: $red;
  color: $white;
  height: 30px;
  border-radius: 4px;
}

.button-new:hover {
  -webkit-box-shadow:0px 1px 5px $red;
  -moz-box-shadow:0px 1px 5px $red;
  box-shadow:0px 1px 5px $red;
}

@media (max-width: 1024px) and (min-width: 361px) {
  .outer-container {
    height: calc(3 * 50px);
  }
  .inner-container {
    @include flexbox(column, flex-start, center);
    height: calc(3 * 50px);
  }
  .left-container {
    @include flexbox(row, center, center);
  }
  .logo {
    margin: 0;
  }
  .right-container-logged {
    @include flexbox(row, center, center);
    margin: 0;
    width: 300px;
  }
  .profile-modal {
    margin-top: 150px; /* Location of the box */
    right: 40%;
  }
  .right-container-not-logged {
    width: 155px;
    margin: 0;
  }
  .button-default {
    height: 99%;
  }
}

@media (max-width: 360px) {
  * {
    font-size: 12px;
  }
  .outer-container {
    height: calc(3 * 50px);
  }
  .inner-container {
    @include flexbox(column, flex-start, center);
    height: calc(3 * 50px);
  }
  .left-container {
    @include flexbox(row, center, center);
  }
  .logo {
    margin: 0;
  }
  .right-container-logged {
    @include flexbox(row, center, center);
    margin: 0;
    width: 170px;
  }
  .modal-content {
    height: 100px;
    width: 170px;
  }
  .modal-button {
    height: 25px;
  }
  .profile-modal {
    margin-top: 150px; /* Location of the box */
    right: 25%;
  }
  .right-container-not-logged {
    margin: 0;
    width: 140px;
  }
  .center-container-logged {
    width: 230px;
  }
  .form-inline {
    height: 25px;
  }
}
