@import 'helper';

.page-container {
  height: 100%;
  width: 100%;
  @include flexbox(column, flex-start, center);
  font-size: 14px;
}

.sub-nav-container {
  width: 100%;
  height: 50px;
  background-color: $white;
  border-bottom: 1px solid #ececec;
  -webkit-box-shadow:0px 1px 5px #ececec;
  -moz-box-shadow:0px 1px 5px #ececec;
  box-shadow:0px 1px 5px #ececec;
  @include flexbox(row, center, center)
}

.sub-nav {
  color: red;
  @include flexbox(row, space-between, center);
  background-color: $white;
  color: #4b4b4b;;
  width: 400px;
  height: 100%;
}

.darkgrey {
  color: $darkgrey;
}

.username {
  font-size: 16px;
  color: #4b4b4b;
}

.sub-nav-button:hover {
  border-bottom: 2px solid $darkgrey;
}

.sub-nav-button {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.sub-nav > .sub-nav-active {
  border-bottom: 2px solid $red;
  color: $red;
}

.section-container {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  width: 1000px;
}

.map-card {
  @include flexbox(column, flex-start, center);
  height: 350px;
  width: 275px;
  margin: 15px calc(((100% - 275px * 3) / 6) - 3px);
  background-color: $grey;
  border: 1px solid $darkgrey;
  display: block;
  border-radius: 15px;
  padding-top: 15px;
  color: $blue;
  box-sizing: content-box
}

.map-card:hover {
  -webkit-box-shadow:7px 7px 5px #d3d3d3;
  -moz-box-shadow:7px 7px 5px #d3d3d3;
  box-shadow:7px 7px 5px #d3d3d3;
  border: 2px solid $blue;
  margin: 14px calc((100% - 275px * 3) / 6 - 4px);
}

.map-container {
  @include flexbox(column, center, center);
  height: 250px;
  width: 250px;
}

.description-container {
  @include flexbox(column, flex-start, flex-start);
  width: 100%;
  margin-left: 35px;
}

img {
  border: 0px solid $grey;
  border-radius: 15px;
}

.title {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.description {
  font-size: 16px;
}

a {
  @include flexbox(column, flex-start, center);
  height: 100%;
  width: 100%;
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $blue;
}

.hide {
  display: none;
}

#favourites1:hover {
  cursor: pointer;
}

#contributed1:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .map-card {
    margin: 15px calc(((100% - 275px * 2) / 4) - 2px);
  }

  .map-card:hover {
    margin: 14px calc((100% - 275px * 2) / 4 - 2px);
  }
  .section-container {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .map-card {
    margin: 15px calc(((100% - 275px * 1) / 2) - 1px);
  }

  .map-card:hover {
    margin: 14px calc((100% - 275px * 1) / 2 - 1px);
  }

}
